
@model List<Jeral_Perez.Models.Cliente>
@{
    ViewData["Title"] = "Home Page";
}

<div class="alert-dark">
    <h1 class="text-center table-bordered ">Listado de Clientes</h1>
</div>
<td colspan="6">
    <div class="inner-addon right-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input id="buscar" type="text" onkeyup="searchTable()" class="form-control" placeholder="Buscar">
    </div>
</td>
<style>
    * {
        box-sizing: border-box;
    }

    #buscar {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #Clientes {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #Clientes th, #Clientes td {
            text-align: left;
            padding: 12px;
        }

        #Clientes tr.header_fijo {
            border-bottom: 1px solid #ddd;
        }

        #Clientes tr.header_fijo, #Clientes tr:hover {
            background-color: #f1f1f1;
        }

    thead tr th {
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #ffffff;
    }

    .inner-addon {
        position: relative;
    }

        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    .left-addon .glyphicon {
        left: 0px;
    }


    .left-addon input {
        padding-left: 30px;
    }

</style>

<div class="table-responsive"  style="overflow-y: scroll; height: 530px">
    <table id="Clientes" class="table table-bordered header_fijo" style="background-color:lightblue" overflow="scroll">

        <thead class="thead-dark" id="tableheader">
            <tr>
                <th>
                    Nombre Completo
                </th>
                <th>
                    Cédula
                </th>
                <th>
                    Dirección
                </th>
                <th>
                    Sexo
                </th>
                 <th>
                    Teléfono
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var cliente in Model)
                {
                    <tr>
                         <td>
                             @{ 
                                         <span>@(cliente.Nombres + " " + cliente.Apellidos)</span>
                             }
                                 
                        </td>
                        
                        <td>@cliente.Cedula</td>
                        <td>@cliente.Direccion</td>
                        <td>@cliente.Sexo</td>
                        <td>@cliente.Telefono</td>
                        <td>
                            <a class="btn btn-info" asp-action="EditarCliente" asp-route-IdCliente="@cliente.IdCliente">Editar</a>
                            <a id="eliminarcliente" class="btn btn-danger" asp-action="EliminarCliente" asp-route-IdCliente="@cliente.IdCliente" onclick="return confirm('¿Está seguro que desea eliminar el registro?')">Eliminar</a>
                            <a class="btn btn-success" asp-action="AgregarPrestamo" asp-route-IdCliente="@cliente.IdCliente">Nuevo Préstamo</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
</div>
<h1></h1>

<div>
    <a class="btn btn-outline-success" asp-controller="UNI" asp-action="AgregarClientes">Registrar Nuevo</a>
    <a class="btn btn-outline-danger" asp-controller="HOME" asp-action="Index">Regresar</a>
</div>

@section Scripts{
    <script src="~/js/Cliente.js"></script>
    <script>
        function searchTable() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("buscar");
            filter = input.value.toUpperCase();
            table = document.getElementById("Clientes");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    let tdata = td[j];
                    if (tdata) {
                        if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        }
    </script>
        
    
}



@*<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo</button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Registrar Nuevo Cliente</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Nombres</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Nombres">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputName">Apellidos</label>
                                <input type="text" class="form-control" id="inputName" placeholder="Apellidos">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6"
                                <label for="inputcedula">Cédula de Identidad</label>
                                <input type="text" class="form-control" id="inputcedula" placeholder="Identificación">
                            </div>
                            <div class="form-group col-md-6"
                                <label for="inputtelefono">Teléfono</label>
                                <input type="text" class="form-control" id="inputtelefono" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Dirección</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Ingrese la Dirección Domiciliar">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="selectsexo">Sexo:</label>
                            <select class="form-control" id="selectsexo">
                                <option>Seleccione</option>
                                <option>Masculino</option>
                                <option>Femenino</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@

